.DS_Store
.vscode
.ipynb_checkpoints
machine_learning_coursera
python_manual.txt
sklearn_scipy_sympy_stat_guide.txt
statistics_with_python_coursera
eda_fe_summary
__pycache__
git_howto.txt
customer_churn_production
Google_Colab_Notes.md
streamlit_guide
course_recommender_streamlit
datacamp_notes
eda_fe_summary